---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Preguntas Frecuentes"
	description="¿Que regalar? ¿Donde comprar?"
	pubDate={new Date('Mar 01 2024')}
	heroImage="/faq-preguntas.jpg"
>
	
<div class="space-y-4">
		<details class="group [&_summary::-webkit-details-marker]:hidden" open>
		<summary
		  class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
		>
		  <h2 class="text-xl">¿Donde comprar lencería para damas?</h2>
	
		  <svg
			class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
		  >
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
		  </svg>
		</summary>
	
		<p class="mt-4 px-4 leading-relaxed text-gray-700">
			<ul>
				<li>
					<a href="http://www.lolaortega.com" target="_blank"> Lolaortega.com</a>
				</li>
			</ul> 
		</p>
	  </details>

	<details class="group [&_summary::-webkit-details-marker]:hidden">
	  <summary
		class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
	  >
		<h2 class="text-xl">¿Donde comprar gorras personalizadas?</h2>
  
		<svg
		  class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
		  xmlns="http://www.w3.org/2000/svg"
		  fill="none"
		  viewBox="0 0 24 24"
		  stroke="currentColor"
		>
		  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
		</svg>
	  </summary>
  
	  <p class="mt-4 px-4 leading-relaxed text-gray-700">
		<ul>
			<li>
				<a href="http://www.lolaortega.com" target="_blank"> Lolaortega.com</a>
			</li>
		</ul> 
	  </p>
	</details>
  
	<details class="group [&_summary::-webkit-details-marker]:hidden">
	  <summary
		class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
	  >
		<h2 class="text-xl">¿Donde comprar remeras personalizadas?</h2>
  
		<svg
		  class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
		  xmlns="http://www.w3.org/2000/svg"
		  fill="none"
		  viewBox="0 0 24 24"
		  stroke="currentColor"
		>
		  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
		</svg>
	  </summary>
  
	  <p class="mt-4 px-4 leading-relaxed text-gray-700">
		<ul>
			<li>
				<a href="http://www.lolaortega.com" target="_blank"> Lolaortega.com</a>
			</li>
		</ul> 
	  </p>
	</details>
  </div>

</Layout>
