---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="text-center text-5xl">Ideas de Regalos para Todas las Ocasiones</h1>
			<h2 class="text-center text-2xl">Descubre Regalos Únicos y Originales para Pareja, Hijos, Amigos y Familiares</h2>
			

		</main>
		<Footer />
	</body>
</html>
