---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Blog1 from '../components/ArticulosPrincipales/Blog1.astro' 
import Blog2 from '../components/ArticulosPrincipales/Blog2.astro' 
import Blog3 from '../components/ArticulosPrincipales/Blog3.astro' 
import Blog4 from '../components/ArticulosPrincipales/Blog4.astro' 
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="text-center text-5xl">Ideas de regalos para todas las ocasiones</h1>
			<h2 class="text-center text-2xl">Descubre Regalos Únicos y Originales para Pareja, Hijos, Amigos y Familiares</h2>

			

			<div class="grid grid-cols-3 gap-5 mt-10">

					<Blog1 
					title="hola"
					image="../corset-negro-1.jpg"
					description='descripcion'
					href='/blog/using-mdx/'
					/>
					

					<Blog2 
					title="hola"
					image="../corset-negro-1.jpg"
					description='descripcion'
					href='/blog/using-mdx/'
					/>

					<Blog3 
					title="hola"
					image="../corset-negro-1.jpg"
					description='descripcion'
					href='/blog/using-mdx/'
					/>

					<Blog4 
					title="hola"
					image="../corset-negro-1.jpg"
					description='descripcion'
					href='/blog/using-mdx/'
					/>

			</div>

		</main>
		<Footer />
	</body>
</html>
