---
import HeaderLink from './HeaderLink.astro';

---

<header class="bg-white">
	<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
	  <div class="flex h-16 items-center justify-between">
		<div class="md:flex md:items-center md:gap-12">
		  <a class="block text-teal-600" href="/">
			<span class="sr-only">Home</span>
				<svg class="w-[60px]"  version="1.0" xmlns="http://www.w3.org/2000/svg"
				width="75.000000pt" height="54.000000pt" viewBox="0 0 75.000000 54.000000"
				preserveAspectRatio="xMidYMid meet">

				<g transform="translate(0.000000,54.000000) scale(0.100000,-0.100000)"
				fill="#60739F" stroke="none">
				<path d="M410 499 c-14 -25 -1 -43 51 -70 49 -25 75 -24 123 4 52 30 66 52 44
				73 -23 23 -65 10 -86 -26 -18 -32 -32 -39 -32 -17 0 21 -44 57 -68 57 -12 0
				-26 -9 -32 -21z m195 -28 c-6 -5 -21 -12 -35 -16 l-25 -7 24 26 c17 18 28 23
				35 16 6 -6 6 -13 1 -19z m-130 -1 c20 -23 17 -24 -19 -10 -14 5 -26 14 -26 20
				0 17 26 11 45 -10z"/>
				<path d="M295 378 c-17 -52 -17 -53 91 -56 98 -3 102 -2 108 20 12 47 11 48
				-94 48 -72 0 -102 -4 -105 -12z"/>
				<path d="M574 383 c-46 -3 -52 -7 -56 -28 -3 -14 -3 -27 0 -30 3 -3 45 -5 94
				-5 91 0 93 1 100 45 3 17 -3 20 -42 21 -25 0 -68 -1 -96 -3z"/>
				<path d="M275 298 c-7 -24 -45 -227 -45 -243 0 -13 15 -15 107 -13 l107 3 22
				128 c11 70 18 129 16 132 -3 3 -50 5 -104 5 -70 0 -100 -4 -103 -12z"/>
				<path d="M505 298 c-2 -7 -12 -66 -23 -131 -14 -89 -16 -120 -7 -123 6 -3 49
				-4 95 -2 l83 3 23 115 c33 165 40 150 -71 150 -68 0 -97 -4 -100 -12z"/>
				<path d="M66 271 c-9 -14 20 -21 89 -21 67 0 95 6 95 21 0 12 -177 12 -184 0z"/>
				<path d="M65 220 c-4 -6 25 -10 79 -10 51 0 86 4 86 10 0 13 -157 13 -165 0z"/>
				<path d="M0 170 c0 -6 42 -10 105 -10 63 0 105 4 105 10 0 6 -42 10 -105 10
				-63 0 -105 -4 -105 -10z"/>
				<path d="M110 120 c0 -5 18 -10 40 -10 22 0 40 5 40 10 0 6 -18 10 -40 10 -22
				0 -40 -4 -40 -10z"/>
				</g>
				</svg>
		  </a>
		</div>
  
		<div class="hidden md:block">
		  <nav aria-label="Global">
			<ul class="flex items-center gap-6 text-sm ">

				<li class="relative">
					
					<HeaderLink
					  href="/guias"
					  class="text-gray-500 transition hover:text-gray-500/75 text-xl"
					>
					  Guías
					</HeaderLink>
				
					<button class="h-full p-2 text-gray-600 hover:bg-gray-50 hover:text-gray-700">
					  <span class="sr-only">Menu</span>
					  <svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-4 w-4"
						viewBox="0 0 20 20"
						fill="currentColor"
					  >
						<path
						  fill-rule="evenodd"
						  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						  clip-rule="evenodd"
						/>
					  </svg>
					</button>
				
				  <div
					class="hidden absolute end-0 z-10 w-56 rounded-md border border-gray-100 bg-white shadow-lg"
					role="menu"
				  >
					<div class="px-2">
					  <a
						href="#"
						class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
						role="menuitem"
					  >
						View on Storefront
					  </a>
				
					  <a
						href="#"
						class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
						role="menuitem"
					  >
						View Warehouse Info
					  </a>
				
					  <a
						href="#"
						class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
						role="menuitem"
					  >
						Duplicate Product
					  </a>
				
					  <a
						href="#"
						class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
						role="menuitem"
					  >
						Unpublish Product
					  </a>
				
					</div>
				  </div>
			  </li>

				<li class="relative">
					
					  <HeaderLink
						href="#"
						class="text-gray-500 transition hover:text-gray-500/75 text-xl"
					  >
						Consejos
					  </HeaderLink>
				  
					  <button class="h-full p-2 text-gray-600 hover:bg-gray-50 hover:text-gray-700">
						<span class="sr-only">Menu</span>
						<svg
						  xmlns="http://www.w3.org/2000/svg"
						  class="h-4 w-4"
						  viewBox="0 0 20 20"
						  fill="currentColor"
						>
						  <path
							fill-rule="evenodd"
							d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
							clip-rule="evenodd"
						  />
						</svg>
					  </button>
				  
					<div
					  class="hidden absolute end-0 z-10 w-56 rounded-md border border-gray-100 bg-white shadow-lg"
					  role="menu"
					>
					  <div class="px-2">
						<a
						  href="#"
						  class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
						  role="menuitem"
						>
						  View on Storefront
						</a>
				  
						<a
						  href="#"
						  class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
						  role="menuitem"
						>
						  View Warehouse Info
						</a>
				  
						<a
						  href="#"
						  class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
						  role="menuitem"
						>
						  Duplicate Product
						</a>
				  
						<a
						  href="#"
						  class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
						  role="menuitem"
						>
						  Unpublish Product
						</a>
				  
					  </div>
					</div>
				</li>

				<li>
					<HeaderLink class="text-gray-500 transition hover:text-gray-500/75 text-xl" href="/blog"> Blog </HeaderLink>
				</li>
	
				<li>
					<HeaderLink class="text-gray-500 transition hover:text-gray-500/75 text-xl" href="/faq"> FAQ </HeaderLink>
				</li>
  
			</ul>
		  </nav>

			
		</div>
		<div class="flex items-center gap-4">
	
			<button
			class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
			>
			<span class="sr-only">Toggle menu</span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-5 w-5"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
				stroke-width="2"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
			</svg>
			</button>
		</div>
		</div>
	  </div>
	</div>
  </header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
